.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 84em;

    &__title {
        text-align: center;
        font-size: 4em;
        margin: 1em 0 0.5em 0;
    }
    &__inner {
        gap: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}