.notfound {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: 3em;
    }

    // .notfound__text

    &__text {
        font-size: 2em;
        margin-bottom: 1em;
    }
}
